<div class="row mx-0">
  <div class="col">
    <img class="logo" src="rlacerdabranco.png">
  </div>
  <div class="col contato">
    <i class="bi bi-whatsapp" style="color: green;"></i> (11) 9.7630-6548 <br>
    <i class="bi bi-envelope" style="color: blue;"></i> nanre2203&#64;gmail.com
  </div>
</div>

<div class="titulo">
  <h1 class="text-center">Repark App</h1>
  <h2 class="text-center mt-4">A gestão do seu estacionamento não precisa ser complicada</h2>
</div>

<div class="row mx-0">
  <div class="col-12 col-md-6">
    <div class="inf">
      <h4>Avulsos</h4>
    </div>
    <div class="inf">
      <p class="text-big">Gerencie de forma rápida e eficiente o fluxo de avulsos</p>
    </div>
    <div class="inf">
      <p class="text-medium">Impressão de ticket via bluetooth:</p>
    </div>
    <div class="saiba-mais">
      <a href="https://api.whatsapp.com/send/?phone=%2B5511976306548&text&type=phone_number&app_absent=0"
        target="_blank">
        <button class="btn btn-success">Saiba mais <i class="bi bi-whatsapp"></i></button>
      </a>
    </div>
  </div>
  <div class="col-12 col-md-6 center">
    <img class="fundo" [src]="'app/fundo.png'">
    <div class="carousel" (click)="playPauseAvulsos()">
      <img style="position: absolute; cursor: pointer;" [src]="'app/play.png'" [class.active]="!playAvulsos">
      <img *ngFor="let image of imgAvulsos" [src]="'app/'+image+'.png'" [class.active]="image === imgCurrentAvulsos">
    </div>
  </div>
</div>

<div class="row mx-0">
  <div class="col-12 col-md-6">
    <div class="inf">
      <h4>Avisos de mensalidade</h4>
    </div>
    <div class="inf">
      <p class="text-big">Não perca de vista nenhum vencimento</p>
    </div>
    <div class="inf">
      <p class="text-medium">Utilize lembretes pre-configurados:</p>
    </div>
    <br>
    <div class="saiba-mais">
      <a href="https://api.whatsapp.com/send/?phone=%2B5511976306548&text&type=phone_number&app_absent=0"
        target="_blank">
        <button class="btn btn-success">Saiba mais <i class="bi bi-whatsapp"></i></button>
      </a>
    </div>
  </div>
  <div class="col-12 col-md-6 center">
    <img class="fundo" [src]="'app/fundo.png'">
    <div class="carousel" (click)="playPauseAvisos()">
      <img style="position: absolute; cursor: pointer;" [src]="'app/play.png'" [class.active]="!playAvisos">
      <img *ngFor="let image of imgAvisos" [src]="'app/'+image+'.png'" [class.active]="image === imgCurrentAvisos">
    </div>
  </div>
</div>